@model InTechStore.DAL.Entities.Producer

@{
    ViewBag.Title = "Details";
}
<style>
    .details-image{
        width:20em;
        height:20em;
        position: center center;
    }
</style>
<h2>Details</h2>

<div>
    <h4>Producer</h4>
    <hr />
    <div class="details-image">
        <img src="@Model.Image" class="details-image" />
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
