@model InTechStore.DAL.Entities.Producer
@{
    ViewBag.Title = "Редагувати виробника";
}

<div>
    @using (Html.BeginForm("Edit", "Producers", null, FormMethod.Post, new { enctype = "multipart/form-data", @class = "ui form segment" }))
    {
        <h1 class="ui text header">Редагувати виробника</h1>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="required field ">
            <label>
                @Html.LabelFor(model => model.CompanyName)
            </label>
            <div>
                @Html.EditorFor(model => model.CompanyName)
                @Html.ValidationMessageFor(model => model.CompanyName)
            </div>
        </div>

        <div class="field">
            <label>
                @Html.LabelFor(model => model.PhoneNumber)
            </label>
            <div>
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>

        <div class="field">
            <label>
                @Html.LabelFor(model => model.Address)
            </label>
            <div>
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>

        <div class="ui field">
            <div class="ui image">
                <img src="@Model.Image" class="ui image medium" />
            </div>
            <input id="file" title="Змінити картинку" type="file" name="file" />
        </div>

        @Html.ValidationSummary(true)

        <div>
            @Html.ActionLink("Назад", "Index", null, new { @class = "ui button primary" })
            <input type="submit" value="Зберегти" class="ui button positive" />
        </div>
    }
</div>