@model InTechStore.WEB.ViewModels.CreateProductViewModel
@{
    ViewBag.Title = "CreateProduct";
}

<h2>CreateProduct</h2>
@using (Html.BeginForm("Create","Product", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            @Html.DisplayNameFor(model => model.Name)
            <div class="col-md-9">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <input id="file" title="Upload a product image" type="file" name="file" />
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.Count)
            <div class="col-md-9">
                @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.Price)
            <div class="col-md-9">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.Description)
            <div class="col-md-9">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.ManufactureDate)
            <div class="col-md-9">
                @Html.EditorFor(model => model.ManufactureDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ManufactureDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.LastDate)
            <div class="col-md-9">
                @Html.EditorFor(model => model.LastDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastDate, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.DisplayNameFor(model => model.CategoryId)
            <div class="col-md-9">
                @Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)ViewBag.Categories, "Виберіть категорію", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(model => model.ProducerId)
            <div class="col-md-9">
                @Html.DropDownList("ProducerId", (IEnumerable<SelectListItem>)ViewBag.Producers, "Виберіть виробника", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProducerId, "", new { @class = "text-danger" })
            </div>
        </div>


    </div>



        @Html.ValidationSummary();
    <input type="submit" value="Створити" />
}
