@model InTechStore.WEB.ViewModels.DetailsProductViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Особиста інформація</h2>
<div>

    @Html.HiddenFor(model => model.Id)

    <div>
        <div>
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div>
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>

    <div>
        <div>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </div>
        <div>
            @Html.DisplayFor(model => model.SerialNumber)
        </div>
    </div>

    <div>
        <div>
            @Html.DisplayNameFor(model => model.Count)
        </div>
        <div>
            @Html.DisplayFor(model => model.Count)
        </div>
    </div>

    <div>
        <div>
            @Html.DisplayNameFor(model => model.Price)
        </div>
        <div>
            @Html.DisplayFor(model => model.Price)
        </div>
    </div>

    <div>
        <div>
            @Html.DisplayNameFor(model => model.Description)
        </div>
        <div>
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>

    <div>
        <div>
            @Html.DisplayNameFor(model => model.Category.Name)
        </div>
        <div>
            @Html.DisplayFor(model => model.Category.Name)
        </div>
    </div>

    <div>
        <div>
            @Html.DisplayNameFor(model => model.Producer.CompanyName)
        </div>
        <div>
            @Html.DisplayFor(model => model.Producer.CompanyName)
        </div>
    </div>

    <div>
        @*<div>
            @Html.ActionLink("Купити", "Make","Order")
        </div>*@
        <div>
            @Html.ActionLink("Назад", "Index")
        </div>
    </div>


</div>