@using InTechStore.WEB.ViewModels;
@model IEnumerable<ProductInfoViewModel>

@{
    ViewBag.Title = "Index";
}

<style>
    .product-item {
        background-color: Highlight;
        margin: 5px;
        width: 150px;
        height: 150px;
    }

    .product-container {
        display: flex;
        flex-wrap: wrap;
    }
</style>

<h2>Index</h2>
@Html.ActionLink("CreateProduct", "Create")


<div class="product-container">
    @foreach (var product in Model)
    {
        <div class="product-item">
            <p>@product.Name</p> <br>
            <p>@product.Price</p>

            @Html.ActionLink("Деталі", "Details", new { Id = product.Id })
            @Html.ActionLink("Видалити", "Delete", new { Id = product.Id })
            @Html.ActionLink("Редагувати", "Edit", new { Id = product.Id })
          
            @Html.RouteLink("Купити",new { controller= "Purchase", action = "Make", id = product.Id })
        </div>
    }
</div>