@using InTechStore.WEB.ViewModels;
@model IEnumerable<ProductInfoViewModel>

@{
    ViewBag.Title = "Index";
}

<style>
    .product-item-available {
        background-color: Highlight;
        margin: 5px;
        width: 200px;
        height: 300px;
    }

    .product-item-unavailable {
        background-color: lavender;
        margin: 5px;
        width: 200px;
        height: 150px;
    }

    .product-container {
        display: flex;
        flex-wrap: wrap;
    }

    .image {
        width: 200px;
        height: 170px;
    }
</style>

<h2>Index</h2>
@Html.ActionLink("CreateProduct", "Create")


<div class="product-container">
    @foreach (var product in Model)
    {
        if (product.IsInStock)
        {
            <div class="product-item-available">
                <div class="image">
                    <img src="@product.Image"  class="image"/>
                </div>

                <p>@product.Name</p> <br>
                <p>@product.Price</p>

                @Html.ActionLink("Деталі", "Details", new { Id = product.Id })
                @Html.ActionLink("Видалити", "Delete", new { Id = product.Id })
                @Html.ActionLink("Редагувати", "Edit", new { Id = product.Id })

                @Html.RouteLink("Купити", new { controller = "Purchase", action = "Make", id = product.Id })
            </div>
        }
        else
        {
            <div class="product-item-unavailable">
                <p>@product.Name</p> <br>
                <p>@product.Price</p>

                @Html.ActionLink("Деталі", "Details", new { Id = product.Id })
                @Html.ActionLink("Видалити", "Delete", new { Id = product.Id })
                @Html.ActionLink("Редагувати", "Edit", new { Id = product.Id })

                @Html.RouteLink("Купити", new { controller = "Purchase", action = "Make", id = product.Id })
            </div>
        }


    }
</div>