@model InTechStore.WEB.ViewModels.CreateCategoryViewModel

@{
    ViewBag.Title = "Create";
}

<div class="ui container">
    @using (Html.BeginForm("Create", "Categories", null, FormMethod.Post, htmlAttributes: new { @class = "ui form segment" }))
    {
        <h1 class="ui text header">Додати категорію товару</h1>
        @Html.AntiForgeryToken()

        <div class="required field">
            <label>
                @Html.LabelFor(model => model.Name)
            </label>
            <div>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "" })
            </div>
        </div>


        @Html.ValidationSummary(true);

        <div>
            @Html.ActionLink("Назад", "Index", null, new { @class = "ui button primary" })
            <input type="submit" value="Створити" class="ui button positive" />
        </div>
    }


</div>
