@model InTechStore.WEB.ViewModels.EditeCategoryViewModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Edit", "Categories", null, FormMethod.Post, new { @class = "ui form segment" }))
{
    <h1 class="ui text header">Редагувати категорію товару</h1>
    @Html.AntiForgeryToken()


    @Html.HiddenFor(model => model.Id)

    <div class="required field">
        <label>
            @Html.DisplayNameFor(model => model.Name)
        </label>
        <div>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "" })
        </div>
    </div>


    @Html.ValidationSummary(true)


    <div class="ui blue buttons">
        @Html.ActionLink("Назад", "Index", null, htmlAttributes: new { @class = "ui button" })
        <input class="ui button positive" type="submit" value="Зберегти" />
    </div>
}
